/*
-----------------------------------------
Template: Yaykuy Front End Elements
Version:  0.1.0
Author:   Yaykuy Team
-----------------------------------------
*/

html, body{
  margin: 0;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
  clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  *zoom:1;
}

p{
  margin: 0;
}

.container{
  padding: 0 0 30px 0;
}

/* Logo
--------------------------------------------------------------*/

.header{
  background: #0d3950;
  height: 40px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

#logo{
  width: 100%;
  margin: 0;
  padding: 0;
}

#logo a{
  text-indent: -9999px;
  height: 25px;
  display: block;
  background: url(../img/png/logo.png) no-repeat;
  margin: 10px 0 0 5px;
}

@media (min-width: 768px) {
  #logo a{
    margin: 20px 0 0 5px;
  }
}

/* navbar
--------------------------------------------------------------*/

#yaykuy-navbar {
  background: #0d3950;
  height: 30px;
}

#yaykuy-navbar ul {
  display: table;
  float: right;
  margin-right: 10px;
}

#yaykuy-navbar ul li {
  list-style: none outside none;
  float: right;
  margin: 0 5px 0 5px;
}

#yaykuy-navbar ul li a {
  border-radius: 2px;
  color: #e2e2e2;
  display: block;
  font-weight: bold;
  padding: 5px 5px
}

#yaykuy-navbar ul li a:hover {
  background-color: #e2e2e2;
  color: #0d3950;
  text-decoration: none;
}

#yaykuy-navbar ul li.active a {
  background-color: #f4ba0a;
  color: #ffffff;
}

#yaykuy-navbar ul li.active a:hover {}

/* footer
--------------------------------------------------------------*/

.footer{
  width: 100%;
  height: auto;
  /* background: #000; */
  background: #0D3950;
  color: #fff;
  margin: 0;
  padding: 15px 0 30px 0;
  text-align: center;
}

/* buy and sell
--------------------------------------------------------------*/
hr {
  margin-top:    20px;
  margin-bottom: 20px;
  margin-right:  20px;
  border:        0;
  border-top:    1px solid #eee
}
