/*
skins available:
	- universal
	- classic
	- attractive
*/

/* the container */
.circularCountdown {
	position:relative;
	text-align:center;
	margin: 0 auto;
}

.circularCountdown h2 {
}
.circularCountdown h3 {
}
.circularCountdown h4 {
}
.theCircles {
	margin:0 auto;
	padding:0;
	position:relative;
	width:100%;
}

.daysDiv {
	position:relative;
	float:left;
	display:block;
	padding:0;
	margin:0;
}

.canvasDays {
	margin:0;
	padding:0;
}

.daysDiv .innerText {
	font-family: 'Ubuntu', sans-serif;
	font-size:9px;
	padding:0;
	margin:0;
	position:relative;
}

.daysDiv .innerNumber {
	font-family: 'Ubuntu', sans-serif;
	font-size:9px;
	display:none;
	line-height:10px;
	position:absolute;
	padding:0;
	margin:0;
}

.hoursDiv {
	position:relative;
	float:left;
	display:block;
	padding:0;
	margin:0;
}
.canvasHours {
	margin:0;
	padding:0;
}
.hoursDiv .innerText {
	font-family: 'Ubuntu', sans-serif;
	font-size:9px;
	padding:0;
	margin:0;
	position:relative;
}
.hoursDiv .innerNumber {
	font-family: 'Ubuntu', sans-serif;
	font-size:9px;
	display:none;
	line-height:inherit;
	position:absolute;
	padding:0;
	margin:0;
}

.minutesDiv {
	position:relative;
	float:left;
	display:block;
	padding:0;
	margin:0;
}
.canvasMinutes {
	margin:0;
	padding:0;
}
.minutesDiv .innerText {
	font-family: 'Ubuntu', sans-serif;
	font-size:9px;
	padding:0;
	margin:0;
	position:relative;
}
.minutesDiv .innerNumber {
	font-family: 'Ubuntu', sans-serif;
	font-size:9px;
	display:none;
	line-height:inherit;
	position:absolute;
	padding:0;
	margin:0;
}

.secondsDiv {
	position:relative;
	float:left;
	display:block;
	padding:0;
	margin:0;
}
.canvasSeconds {
	margin:0;
	padding:0;
}
.secondsDiv .innerText {
	font-family: 'Ubuntu', sans-serif;
	font-size:9px;
	padding:0;
	margin:0;
	position:relative;
}
.secondsDiv .innerNumber {
	font-family: 'Ubuntu', sans-serif;
	font-size:9px;
	display:none;
	line-height:inherit;
	position:absolute;
	padding:0;
	margin:0;
}


.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

.hideElement {
display:none;
}

.text{
font-family: 'Ubuntu', sans-serif;
font-size:48px;
font-weight:bold;
text-shadow: 0 0 1px rgba(51,51,51,0.3);
letter-spacing:-2.5px;
color:#248643;
position:relative;
text-align:center;
margin: 0 auto;
top:15px;	
}

.subtext{
font-family: 'Ubuntu', sans-serif;
font-size:35px;
text-shadow: 0 0 1px rgba(51,51,51,0.3);
font-weight:lighter;
letter-spacing:0.5px;
color:#248643;
position:relative;
text-align:center;
margin: 0 auto;
top:10px;		
}

.loguito{
position:relative;
text-align:center;
margin: 0 auto;
margin-top:20px;
padding-bottom:15px;
}


.contentbanners{
margin:0 auto;
position:relative;
display:inline-block;
width:100%;
text-align:center;	
}

.contbanners{
margin:0 auto;
position:relative;
display:inline-block;
max-width:750px;
text-align:center;	
}

.contentbanners3{
margin:0 auto;
position:relative;
display:inline-block;
width:100%;
text-align:center;
margin-top:30px;
margin-bottom:10px;	
}

.contbanners3{
margin:0 auto;
position:relative;
display:inline-block;
max-width:1100px;
text-align:center;	
}