<div id="smoothmenu1" class="ddsmoothmenu">
<ul>
<li><a href="index.php">GOAL</a></li>
<li><a href="https://www.facebook.com/BitcoinBrasil2014?fref=ts" target="_blank">FACEBOOK</a></li>
</li>
</ul>
<br style="clear: left" />
</div>