{{> _head}}
	<div class="container">
	   <div class="jumbotron">
		  <h1>Bitcoin Brasil 2014</h1>
		  <p>This is just a demo. Please refer to the real BitBrasil2014</p>
		  <p><a href="http://bitcoinbrasil2014.org"class="btn btn-primary btn-lg">Real Site</a></p>
		</div>

	    <h2>Charities</h2>
	    <table class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Country</th>
		      <th>Name</th>
		      <th>Address</th>
		      <th>BTC</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>1</td>
		      <td><img src="img/flags_24/cl.png"></td>
		      <td>Column content</td>
		      <td>Column content</td>
		      <td>Column content</td>
		    </tr>
		    <tr>
		      <td>2</td>
		      <td><img src="img/flags_24/br.png"></td>
		      <td>Column content</td>
		      <td>Column content</td>
		      <td>Column content</td>
		    </tr>
		  </tbody>
		</table> 

		<h2>Fans</h2>
	    <table class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Country</th>
		      <th>Name</th>
		      <th>Charity</th>
		      <th>Poster Address</th>
		      <th>Fan Address</th>
		      <th>BTC</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>1</td>
		      <td><img src="img/flags_24/cl.png"></td>
		      <td>Column content</td>
		      <td>Column content</td>
		      <td>Column content</td>
		      <td>Column content</td>
		      <td>Column content</td>
		    </tr>
		    <tr>
		      <td>2</td>
		      <td><img src="img/flags_24/br.png"></td>
		      <td>Column content</td>
		      <td>Column content</td>
		      <td>Column content</td>
		      <td>Column content</td>
		      <td>Column content</td>
		    </tr>
		  </tbody>
		</table> 
	</div>
{{> _foot}}